.comment-page {
    width: 100%;
    min-height: 100vh;
    height:auto;
    background-color: #2f2f30;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 48px;
    
    .comment-container {
        position: relative;
        width: 85%;
        margin: 0 auto;
        max-width: 1128px;
        height:auto;
        min-height: 100vh;
        background-color: #dae0e6;
        margin-top: 56px;
        padding-bottom: 35px;
        .comment-page-left {
            width: 69%;
            float:left;
            background-color: white;
            padding-right: 1%;
        }
        .comment-page-right {
            width: 29%;
            background-color: white;
            float: right;
            min-height: 150px;
            padding-left: 1%;
            
        }
        @media screen and (max-width: 1024px) {
            .comment-page-left {
                width: 100%;
            }
            .comment-page-right {
                display: none;
            }
        }
    }

    .comment-top-bar{ 
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        max-width: 1128px;
        width: 85%;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: space-between;
        align-items: flex-start;
        height: 100%;
        margin: auto;
        padding-left: 30px;
        padding-right: 30px;
        background: #030303;
        color: #a2a4a5;
        height: 56px;
        z-index: 10;
        .comment-arrows {
            min-width: 100px;
            font-size: 16px;
            border-left:1px solid rgba(135, 138, 140, 0.5);
            height: 20px;
            vertical-align: middle;
            border-right:1px solid rgba(135, 138, 140, 0.5);
            text-align: center;
            position: relative;
            order: 0;
            flex: 1 1 25px;
            align-self: auto;
            top: 30%;
            * {
                vertical-align: top;
                box-sizing: 0;
            }
            .upvote-arrow {
                float: left;
                margin-left: 16px;
                cursor: pointer;

                font-size: 20px;
                padding-right:5px;
                &:hover {
                    color: orange;
                }
            }
            .upvoted-arrow {
                color: orange;
            }
            .downvote-arrow {
                float: right;
                position: relative;
                padding-top: 1px;
                cursor: pointer;
                margin-right: 16px;
                font-size: 20px;
                padding-left: 5px;
                &:hover {
                    color: red;
                }
            }
            .downvoted-arrow {
                color: red;
            }
            span {
                margin: 0 auto;
                width: auto;
                top: -30%;
                position: relative;
            }
        }
        .post-title {
            font-size: 14px;
            order: 1;
            flex: 4 8 auto;
            padding-left: 15px;
            align-self: auto;
            overflow: hidden;
            word-wrap: break-word;
            position: relative;
            height: 56px;
            white-space: nowrap;
            top: 23%;
        }
        .post-close {
            order: 2;
    flex: 1 1 50px;
    align-self: flex-start;
            right: 0;
            font-size: 16px;
            position: relative;
            top: 20%;
            text-align: right;
            min-width: 66px;
            a {
                text-decoration: none;
            }
        }
    }
}

.comment-page-container {
    width: 85%;
    height: auto;
    position: relative;
    min-height: 100vh;
    border-radius: 5px;
    margin: 0 auto;
    overflow: overlay;

    
    top: 35px;
    .reddit-post {
        border: none; 
        height: auto;
        /*border-bottom: 1px solid #ccc;*/
    }
    .reddit-post-left {
        background-color: white;
        border-top-left-radius: 5px;
    }

    .reddit-post-right-bottom {
        height: 100%;
        p {
            margin-top:5px;
            margin-bottom: 5px;
            font-family: Arial,sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            word-break: break-word;
            overflow: auto;
        }
        
    }

    .comment-page-media {
        height: auto;
        img{
            max-width: 100%;
            max-height: 100vh;
            width: auto;
            height: auto;
        }
    }
    .comments-container {
        width: 100%;
        height: auto;
        min-height: 150px;
        margin-top: 5px;
        padding: 15px;
        padding-left: 10px;
        margin-left: 30px;
        span {
            font-size: 12px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 400;
            line-height: 16px;
        }
        form {
            fieldset {
                border: none;
                textarea {
                    width: 85%;
                    border:1px solid grey;
                    height: 150px;
                    padding: 10px;
                }
            }
        }
    }
    .comment-tree-beginning {
        width: calc(100%);
        position: relative;
        height: auto;
        overflow-x: hidden;
        border:1px solid black;
        .comments-indent {
            border-left: 2px solid grey;
            height: auto;
            min-height: 75px;
            width: auto;
        }
    }
} 