
  
.filter-bar {
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
    width: 100%;
    background: white;
    border: 1px solid  #ccc;
    height: 60px;
    padding-left: 15px;
    border-radius: 5px;
    @media screen and (max-width: 550px) {
        display: none;
    }
    h5 {
        text-align: left;
        color: #1a1a1b;
        margin-top: -5px;
        font-size: 14px;
        display: inline-block;
    }
    ul {
    
        padding: 0;
        display: inline-block;
        margin: 0;
        list-style: none;
        top: 50%;
        transform: translateY(-50%);
        text-align: left;
        position: relative;
        li {
            display: inline-block;
            position: relative;

            margin-left:25px;
            width: auto;
            
            font-size: 14px;
            padding: 8px;
            vertical-align: top;
            border-radius: 25px;
            
            svg {
                margin-right: 10px;
                position: relative;
                top: 2px;
            }
        }
        .active {
            background-color: #f6f7f8;
        }
        .time-selector-for-filter-bar {
            margin-left: 10px;
            margin-right: -10px;
        }
    }
}

.filter-dropdown {
    display: none;
    @media screen and (max-width: 550px) {
        display: block;
    }
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
    width: 100%;
    background: white;
    border: 1px solid  #ccc;
    height: 60px;
    padding-left: 15px;
    border-radius: 5px;
    select {
        width: 95%;
        border-radius: 5px;
        height: 35px;
        padding: 5px;
    }
}