.top-bear-container {
    width: 100%;
    position: fixed;
    z-index: 100;
    margin-top: -30px;
}

.top-bar {
    height: 48px;
    background: white;
    border-bottom: 1px solid #dae0e6;
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    .website-icon {
        min-width: 150px;
        position: relative;
    }
}

.website-icon span {
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    top: -3px;
    position: relative;
    margin-left: 15px;
    text-transform: lowercase;
}

.top-bar img {
    max-width: 40px;
    max-height: 40px;
    width: auto;
    height: auto;
    float: left;
    margin-top: 4px;
    margin-left: 25px;
    position: relative;
}

.top-bar {

    .search {
        width:  40vw;
        position: relative;
        display: flex;
        input {
            top: -5px;
        }
    }
    
    .searchTerm {
        width: 25vw;
        border-right: none;
        padding: 5px;
        height: 25px;
        border-radius: 5px 0 0 5px;
        color:#edeff1;
        border: 1px solid #edeff1;
        background: #edeff1;
        border-left: 0px solid white;
        padding-left: 40px;
        position:relative;
        @media screen and (max-width: 670px) {
            width: 50vw;
        }
        @media screen and (max-width: 425px) {
            width: 40vw;
        }
        

    }
    
    .searchTerm:focus{
        color: black;
    }
    
    .searchButton {
        width: 40px;
        height: 25px;
        background: transparent;
        text-align: center;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        position: relative;
        right: -40px;
        outline: none;
        border: 1px solid #edeff1;
        border-right: 0px solid white;
        font-size: 20px;
        opacity: 50%;
        top: 9px;
        z-index: 10;
    }
    
    /*Resize the wrap to see the search bar change!*/
    .search-bar-main{
        width: 40vw;
        margin: 0 auto;
        position: relative;
    }
    .signin-login-button-container {
        top: -6px;
        right: 35px;
        position: relative;
        
    };
    .top-bar-dropdown {
        width: 125px;
        right: -35px;
        top: 6px;
        position: absolute;
        font-size: 13px;
        height: 48px;
        span {
            position: relative;
            transform: translateY(-50%);
            top: 50%;
            margin-right: 15px;
        }
        .top-bar-dropdown-revealed {
            background: white;
            top: 48px;
            width: 300px;
            position: relative;
        }
        
    }

    .signup-top-bar-button, .login-top-bar-button {
        position: relative;
        float: right;
        
        
        button {
            width: 120px;
            height: 33px;
            margin-right: 20px;
            text-transform: uppercase;
            background-color: white;
            border-radius: 5px;
            border:1px solid #0079d3;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-weight: 800;
            letter-spacing: 1px;
            color: #0079d3;
            &:active {
                border: 5px solid #0079d3;
                padding: 5px;
            }
        }
    }

    .signup-top-bar-button {
        button {
            margin-right: 5vw;
        }
    }

    .signup-top-bar-button {
        button {
            background: #0079d3;
            color: white;
            &:hover {
                opacity: 75%;
            }
        }
    }

    .signin-login-dropdown {
        margin-left: auto;
        top: -5px;
        margin-right: 20px;
        position: relative;
        min-width:150px;
        text-align: right;
        .signin-login-window-username {
            font-size: 14px;
            font-weight: 700px;
            margin-right: 15px;
        }
        label {
            width: 100%;
            height: 100%;
            padding: 10px 5px;
            cursor: pointer;
            .fa-user-alt, .fa-arrow-down {
                width: 15px;
                height: 15px;
                color: grey;
            }
            .fa-user-alt {
                margin-right: 20px;
            }
        }
        input {
            display: none;
        }
        div {
            display: none;
            font-weight: 700px;
            position: absolute;
            top: 52px;
            right: -25px;
            text-align: left;
            width: 220px;
            min-height: 50px;
            height: auto;
            background-color: white;
            font-size: 16px;
            ul {
                border-top: 1px solid grey;
                list-style: none;
                position: relative;
                background-color: white;
                font-size: 16px;
                li {
                    margin-left: 5px;
                    width: calc(100% - 30px);
                }
            }
            button {
                width: 84%;
                height: 60px;
                text-align: center;
                position: relative;
                bottom: 0;
                left: 5%;
                outline: none;
                background-color: white;
                border: none;
                font-size: 12px;
                letter-spacing: 5;
                border-top: 1px solid grey;
                
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                button {
                    top: -1px;
                }
            }
        }
        input[type=checkbox]:checked + div{
            display: block;
        }
        
    }
        
    

    @media screen and (max-width: 870px) {
        .search-bar-main, .search, .dropdown-window, .searchTerm {
            width: 300px;
        }
        .dropdown-window {
            left: 19px;
        }
    }

    @media screen and (max-width: 747px) {
        .website-icon {
            width: 75px;
        }
        .website-icon span {
            display: none;
        }
    }

    @media screen and (max-width: 650px) {
        .search-bar-main, .search, .dropdown-window, .searchTerm {
            width: 150px;
        }
        .dropdown-window {
            font-size: 12px;
        }
        .searchButton {
            right: -28px;
        }

        .search-bar-main {
            left: -76px;
            margin:initial;
        }

        .signin-login-button-container {
            display: none;
        }
        .signin-login-dropdown {
            display: block;
        }
    }

    @media screen and (max-width: 475px) {

        .signin-login-dropdown {
            left: -76px;
        }
        
    }
}

.dropdown-opened {
    border:1px solid black;
    border-radius: 2px;
}