.subreddit-content, .frontpage-content {
    width: 95%;
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 25px;
    grid-template-areas:
    ". ."
    ". ."
    ". .";
    .subreddit-left, .subreddit-right, .left-side, .right-side {
        vertical-align: top;
    }
    .media-output-small-post img{
        max-width: 95%;
        max-height: 800px;
        width: auto;
        height: auto;
    }
}