.subreddit-content, .frontpage-content {
    width: 95%;
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    /*display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 25px;
    grid-template-areas:
    ". ."
    ". ."
    ". .";*/
    display: flex;
    height:100%;
    .subreddit-left, .left-side {
        width: 69%;
        margin-right:1%;
        @media screen and (max-width: 870px) {
            width: 100%;
        }
    }
    .subreddit-right, .right-side {
        width: 29%;
        left:1%;
        position: relative;
    }
    .subreddit-left, .subreddit-right, .left-side, .right-side {
        vertical-align: top;
    }
    .media-output-small-post img{
        max-width: 95%;
        max-height: 800px;
        width: auto;
        height: auto;
    }
    .subreddit-right {
        top:16px;
        a {
            text-decoration: none;
        }
        position: relative;
        @media screen and (max-width: 870px) {
            display: none;
        }
    }
}

.block-link {
    text-align: center;
    color: blue;
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 15px;
    cursor: pointer;
    background: lightblue;
    &:active, &:hover {
        box-shadow: 0 0 3px black;
    }

    border-radius: 5px;
}

.subreddit-right-box {
    height: auto;
    margin-bottom: 15px;
    border-radius: 5px;
    width: 100%;
    header {
        padding:5px 15px;
        font-weight: 700;
        letter-spacing: 0.1px;
        font-size: 14px;
        color: blue;
        border-radius: 5px;
        background: lightblue;
    }
    .subreddit-about-box-description {
        font-family: Arial,sans-serif;
        font-size: 14px;
        line-height: 21px;
        font-weight: 400;
        background: white;
        padding: 15px;
        word-wrap: break-word;
        min-height:100px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        ul {
            list-style: none;
        }

    }
    .subreddit-created-at, .subreddit-members {
        line-height: 21px;
        font-size: 14px;
        font-weight: 400;
        background: white;
        padding: 20px 15px;
        word-wrap: break-word;
        border-top: 1px solid lightgray;
    }
    .subreddit-members {
        border-top: none;
        font-weight: 500;
        font-family: 'Open Sans', sans-serif;
    }
}

.subreddit-top-bar {
    width: 100vw;
    height: auto;
    min-height: 150px;
    background-color: white;
    left: -2rem;
    position: relative;
    top: -15px;
    .subreddit-top-bar-content {
        position: absolute;
        width: 80%;
        left: 10%;
        bottom: 0;
        .subreddit-top-bar-name {
            width: 90%;
            left: 5%;
            position: relative;
            h1, button {
                display: inline-block;
                font-family: Arial, Helvetica, sans-serif;
            }
            h1 {
                margin-right: 35px;
                position:relative;
                vertical-align: top;
                letter-spacing: 1px;
            }
            button {
                padding: 10px 40px;
                font-size: 16px;
                letter-spacing: 1px;
                background-color: #ff4500;
                position:relative;
                vertical-align: top;
                color: white;
                cursor:pointer;
                border: none;
                top: 6px;
                border-radius: 20px;
            }
        }
        span {
            color: rgba(135,138,140,0.8);
            font-size: 14px;
            position: relative;
            letter-spacing: 1px;
            top: -15px;
            left: 5%;
        }
    }
}

.success-form-message {
    margin-bottom: 50px;
}