@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Roboto:wght@400;700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    background-color: #dae0e6;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

@import 'scss/header';
@import 'scss/homepage';
@import 'scss/posts';
@import 'scss/filterBar';